  <h2>Please select the investment you wish to make.</h2>
  <form action="/stocks" method="POST">
   <input type="submit" value="High dividend">
   <input type="submit" value="Stable income">
   <input type="submit" value="Value">
   <input type="submit" value="Growth">
   <input type="submit" value="Analists recomended">
  </form>